@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%；;
}

#gonglue {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#gonglue header {
  height: 2.613333rem;
  display: flex;
  flex-direction: column;
}

#gonglue header .head0 {
  height: 1.306667rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-bottom: .013333rem dotted #ccc;
}

#gonglue header .head0 .suo {
  position: absolute;
  right: .133333rem;
  top: .233333rem;
  width: 1.013333rem;
  height: .64rem;
}

#gonglue header .head0 p {
  font-size: .346667rem;
  color: #bcb451;
  margin-right: 1.333333rem;
  display: block;
  line-height: .4rem;
  padding-right: .2rem;
  border-right: .013333rem solid #ccc;
}

#gonglue header .head0 img {
  width: 2.733333rem;
  height: .613333rem;
  margin-left: .2rem;
}

#gonglue header input {
  width: 9.12rem;
  height: .746667rem;
  background: #f2f2f2;
  margin-left: .4rem;
  margin-top: .266667rem;
  text-align: center;
  border: 0px;
}

#gonglue main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

#gonglue main .main0 img {
  height: 4rem;
  width: 100%;
}

#gonglue main .main1 {
  height: 5.866667rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

#gonglue main .main1 .m1 {
  width: 2rem;
  height: 2.266667rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: .133333rem;
}

#gonglue main .main1 .m1 .m11 {
  width: 1.146667rem;
  height: 1.2rem;
}

#gonglue main .main1 .m1 .m10 {
  font-size: .4rem;
  color: #9a9a9a;
}

#gonglue main .main2 {
  width: 9.066667rem;
  height: 1.333333rem;
  margin-left: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  margin-top: .133333rem;
  overflow: auto;
}

#gonglue main .main2 .m2 a {
  display: block;
  width: 1.6rem;
  height: 100%;
  text-align: center;
  line-height: 1.066667rem;
  color: #9a9a9a;
  font-size: .48rem;
  text-decoration: none;
}

#gonglue main .main2 .m2 a:hover {
  color: #fca000;
  border-bottom: .026667rem solid #fca000;
}

#gonglue main .main3 {
  width: 9.106667rem;
  margin-left: .4rem;
  height: 4.133333rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

#gonglue main .main3 .m3 {
  width: 1.866667rem;
  height: .8rem;
  background: #f4f4f4;
  border-radius: .2rem;
  color: #9a9a9a;
  line-height: .8rem;
  text-align: center;
}

#gonglue main .main4 {
  height: 6.666667rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#gonglue main .main4 .m4 {
  width: 8rem;
  height: .366667rem;
  margin-top: .266667rem;
  margin-left: .533333rem;
  color: #121212;
  padding-left: .266667rem;
  font-size: .4rem;
  border-left: .04rem solid red;
}

#gonglue main .main4 .m40 {
  width: 9rem;
  height: 4.666667rem;
  margin-top: .666667rem;
  margin-left: .533333rem;
}

#gonglue main .main5 {
  height: 4.4rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: .533333rem;
  overflow: auto;
}

#gonglue main .main5 .m5 {
  width: 2.88rem;
  height: 4.4rem;
  flex-shrink: 0;
  margin-left: .133333rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#gonglue main .main5 .m5 .m50 {
  width: 2.8rem;
  height: 2.133333rem;
}

#gonglue main .main5 .m5 .m51 {
  width: 2.293333rem;
  height: 1.093333rem;
  font-size: .266667rem;
  color: #6d6d6d;
  border-bottom: .013333rem solid #ccc;
}

#gonglue main .main5 .m5 .m52 {
  font-size: .293333rem;
  color: #6d6d6d;
  margin-top: .133333rem;
}

#gonglue main .m63 {
  width: 9rem;
  height: 4.666667rem;
  margin-top: .666667rem;
  margin-left: .533333rem;
}

#gonglue main .main6 {
  height: 4.4rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: .533333rem;
  overflow: auto;
}

#gonglue main .main6 .m6 {
  width: 2.88rem;
  height: 4.4rem;
  flex-shrink: 0;
  margin-left: .133333rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#gonglue main .main6 .m6 .m60 {
  width: 2.8rem;
  height: 2.133333rem;
}

#gonglue main .main6 .m6 .m61 {
  width: 2.293333rem;
  height: 1.093333rem;
  font-size: .266667rem;
  color: #6d6d6d;
  border-bottom: .013333rem solid #ccc;
}

#gonglue main .main6 .m6 .m62 {
  font-size: .293333rem;
  color: #6d6d6d;
  margin-top: .133333rem;
}

#gonglue main .m73 {
  width: 9rem;
  height: 4.666667rem;
  margin-top: .666667rem;
  margin-left: .533333rem;
}

#gonglue main .main7 {
  height: 4.4rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: .533333rem;
  overflow: auto;
}

#gonglue main .main7 .m7 {
  width: 2.88rem;
  height: 4.4rem;
  flex-shrink: 0;
  margin-left: .133333rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#gonglue main .main7 .m7 .m70 {
  width: 2.8rem;
  height: 2.133333rem;
}

#gonglue main .main7 .m7 .m71 {
  width: 2.293333rem;
  height: 1.093333rem;
  font-size: .266667rem;
  color: #6d6d6d;
  border-bottom: .013333rem solid #ccc;
}

#gonglue main .main7 .m7 .m72 {
  font-size: .293333rem;
  color: #6d6d6d;
  margin-top: .133333rem;
}

#gonglue main .main8 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#gonglue main .main8 .m8 {
  width: 8rem;
  height: .366667rem;
  margin-top: .266667rem;
  margin-left: .533333rem;
  color: #121212;
  padding-left: .266667rem;
  line-height: .366667rem;
  font-size: .4rem;
  border-left: .04rem solid red;
}

#gonglue main .main8 .m80 {
  width: 9.066667rem;
  height: 1.333333rem;
  margin-left: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  margin-top: .133333rem;
}

#gonglue main .main8 .m80 .m81 {
  width: 1.36rem;
  height: 1.066667rem;
  margin-left: .2rem;
  line-height: 1.066667rem;
  text-align: center;
  margin-top: .133333rem;
}

#gonglue main .main8 .m80 .m81:hover {
  color: #fca000;
  border-bottom: .026667rem solid #fca000;
}

#gonglue main .main8 .m82 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#gonglue main .main8 .m82 .m83 {
  width: 9.2rem;
  height: 3.066667rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: .6rem;
  border-bottom: .013333rem solid #bababa;
}

#gonglue main .main8 .m82 .m83 .m85 {
  width: 3.546667rem;
  height: 2.72rem;
}

#gonglue main .main8 .m82 .m83 .m86 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: -0.8rem;
}

#gonglue main .main8 .m82 .m83 .m86 .m87 {
  font-size: .4rem;
  color: #141414;
}

#gonglue main .main8 .m82 .m83 .m86 .m88 {
  width: 5.653333rem;
  height: .533333rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: .133333rem;
}

#gonglue main .main8 .m82 .m83 .m86 .m88 .m89 {
  display: block;
  color: #bababa;
  font-size: .266667rem;
  line-height: .32rem;
  border: .013333rem solid #bababa;
  border-radius: .106667rem;
}

#gonglue main .main8 .m82 .m83 .m86 .m90 {
  width: 5.466667rem;
  height: .053333rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: .133333rem;
}

#gonglue main .main8 .m82 .m83 .m86 .m90 .m91 {
  font-size: .346667rem;
  color: #868686;
}

#gonglue main .main8 .m84 {
  width: 4.32rem;
  height: 1.16rem;
  display: block;
  color: #fca000;
  font-size: .293333rem;
  line-height: 1.16rem;
  text-align: center;
  border: .013333rem solid #fca000;
  border-radius: .2rem;
  margin-top: .4rem;
  margin-bottom: .6rem;
}
