* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

#mafengwo {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#mafengwo header {
  height: 2.613333rem;
  display: flex;
  flex-direction: column;
}

#mafengwo header .head0 {
  height: 1.306667rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-bottom: .013333rem dotted #ccc;
}

#mafengwo header .head0 .suo {
  position: absolute;
  right: .133333rem;
  top: .233333rem;
  width: 1.013333rem;
  height: .64rem;
}

#mafengwo header .head0 p {
  font-size: .346667rem;
  color: #bcb451;
  margin-right: 1.333333rem;
  display: block;
  line-height: .4rem;
  padding-right: .2rem;
  border-right: .013333rem solid #ccc;
}

#mafengwo header .head0 img {
  width: 2.733333rem;
  height: .613333rem;
  margin-left: .2rem;
}

#mafengwo header input {
  width: 9.12rem;
  height: .746667rem;
  background: #f2f2f2;
  margin-left: .4rem;
  margin-top: .266667rem;
  text-align: center;
  border: 0px;
}

#mafengwo main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#mafengwo main .main0 img {
  height: 4rem;
}

#mafengwo main .main1 {
  height: 2.586667rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

#mafengwo main .main1 .m1 {
  font-size: .506667rem;
  color: #000;
}

#mafengwo main .main1 .m1::after {
  content: ">";
  display: block;
  width: .493333rem;
  height: .493333rem;
  background: #f2f2f2;
  border-radius: 50%;
  line-height: .493333rem;
  text-align: center;
  position: absolute;
  top: .766667rem;
  right: 2.833333rem;
}

#mafengwo main .main1 .m10 {
  font-size: .32rem;
  color: #a5a5a5;
  margin-top: .2rem;
}

#mafengwo main .main2 {
  width: 9.2rem;
  height: 1.253333rem;
  border-top: .013333rem dotted #ccc;
  margin-left: .333333rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
}

#mafengwo main .main2 .m2 {
  list-style: none;
  width: 2.373333rem;
  height: .4rem;
  border-right: .013333rem solid #ccc;
}

#mafengwo main .main2 .m2 a {
  text-decoration: none;
  display: block;
  width: 2.373333rem;
  height: .826667rem;
  text-align: center;
  color: #858585;
}

#mafengwo main .main2 .m2 a:hover {
  color: #fc9f00;
  border-bottom: .026667rem solid #fc9f00;
}

#mafengwo main .main3 {
  height: 8.973333rem;
  border-bottom: .013333rem solid #ccc;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

#mafengwo main .main3 .m3 {
  width: 2.826667rem;
  height: 3.066667rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#mafengwo main .main3 .m3 .m30 {
  width: 2.773333rem;
  height: 2.293333rem;
}

#mafengwo main .main3 .m3 .m31 {
  font-size: .4rem;
  color: #262626;
  margin-top: .106667rem;
}

#mafengwo main .main3 .m32 {
  font-size: .346667rem;
  color: #feb51a;
  display: block;
  width: 4.573333rem;
  height: 1.16rem;
  text-align: center;
  line-height: 1.16rem;
  border: .013333rem solid #feb51a;
  border-radius: .2rem;
}

#mafengwo main .main4 {
  height: 2.586667rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

#mafengwo main .main4 .m4 {
  font-size: .506667rem;
  color: #000;
}

#mafengwo main .main4 .m4::after {
  content: ">";
  display: block;
  width: .493333rem;
  height: .493333rem;
  background: #f2f2f2;
  border-radius: 50%;
  line-height: .493333rem;
  text-align: center;
  position: absolute;
  top: .766667rem;
  right: 2.833333rem;
}

#mafengwo main .main4 .m40 {
  font-size: .32rem;
  color: #a5a5a5;
  margin-top: .2rem;
}

#mafengwo main .main5 {
  width: 9.2rem;
  height: 1.253333rem;
  border-top: .013333rem dotted #ccc;
  margin-left: .333333rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
}

#mafengwo main .main5 .m5 {
  list-style: none;
  width: 2.373333rem;
  height: .4rem;
  border-right: .013333rem solid #ccc;
}

#mafengwo main .main5 .m5 .m50 {
  text-decoration: none;
  display: block;
  width: 1.373333rem;
  height: .826667rem;
  text-align: center;
  color: #858585;
}

#mafengwo main .main5 .m5 .m50:hover {
  color: #fc9f00;
  border-bottom: .026667rem solid #fc9f00;
}

#mafengwo main .main6 {
  height: 8.973333rem;
  border-bottom: .013333rem solid #ccc;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

#mafengwo main .main6 .m6 {
  width: 2.826667rem;
  height: 3.066667rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#mafengwo main .main6 .m6 .m60 {
  width: 2.773333rem;
  height: 2.293333rem;
}

#mafengwo main .main6 .m6 .m61 {
  font-size: .4rem;
  color: #262626;
  margin-top: .106667rem;
}

#mafengwo main .main6 .m62 {
  font-size: .346667rem;
  color: #feb51a;
  display: block;
  width: 4.573333rem;
  height: 1.16rem;
  text-align: center;
  line-height: 1.16rem;
  border: .013333rem solid #feb51a;
  border-radius: .2rem;
}

#mafengwo main .main7 {
  height: 2.586667rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

#mafengwo main .main7 .m7 {
  font-size: .506667rem;
  color: #000;
}

#mafengwo main .main7 .m7::after {
  content: ">";
  display: block;
  width: .493333rem;
  height: .493333rem;
  background: #f2f2f2;
  border-radius: 50%;
  line-height: .493333rem;
  text-align: center;
  position: absolute;
  top: .766667rem;
  right: 2.833333rem;
}

#mafengwo main .main7 .m70 {
  font-size: .32rem;
  color: #a5a5a5;
  margin-top: .2rem;
}

#mafengwo main .main8 {
  width: 9.2rem;
  height: 1.253333rem;
  border-top: .013333rem dotted #ccc;
  margin-left: .333333rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
}

#mafengwo main .main8 .m8 {
  list-style: none;
  width: 2.373333rem;
  height: .4rem;
  border-right: .013333rem solid #ccc;
}

#mafengwo main .main8 .m8 a {
  text-decoration: none;
  display: block;
  width: 2.373333rem;
  height: .826667rem;
  text-align: center;
  color: #858585;
}

#mafengwo main .main8 .m8 a:hover {
  color: #fc9f00;
  border-bottom: .026667rem solid #fc9f00;
}

#mafengwo main .main9 {
  height: 8.973333rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

#mafengwo main .main9 .m9 {
  width: 2.826667rem;
  height: 3.066667rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#mafengwo main .main9 .m9 .m90 {
  width: 2.773333rem;
  height: 2.293333rem;
}

#mafengwo main .main9 .m9 .m91 {
  font-size: .4rem;
  color: #262626;
  margin-top: .106667rem;
}

#mafengwo main .main9 .m92 {
  font-size: .346667rem;
  color: #feb51a;
  display: block;
  width: 4.573333rem;
  height: 1.16rem;
  text-align: center;
  line-height: 1.16rem;
  border: .013333rem solid #feb51a;
  border-radius: .2rem;
}
