*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
}
#guanli{
    height: 100%;
}
.top{
    height: 88px;
    background: url(../images/logo.png) no-repeat 10% center,#7ab5e9;
    position: relative;
    border-bottom: 2px solid #0f5bb8;
}
.top .top0{
    width: 264px;
    height: 22px;
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 30px;
    display: inline-block;
}
.top .top0 .top0-1{
    width: 134px;
    height: 22px;
    position: absolute;
    top: 0;
    left: 0;
    background:url(../images/head-l.jpg) no-repeat  left bottom;
    padding-left: 20px;
}
.top .top0 .top0-1 .p1{
    font-size: 12px;
    color: #6d6d6d;
    margin-left: 20px;
    margin-top: -20px;
}
.top .top0 .top0-2{
    width: 111px;
    height: 22px;
    position: absolute;
    top: 0;
    right: 0;
    background:url(../images/head-r.jpg) no-repeat  right bottom;
}
.top .top0 .top0-2 .p2{
    font-size: 12px;
    color: #6d6d6d;
    margin-left: 20px;
    margin-top: -20px;
}
.top .top1{
    width: 800px;
    height: 56px;
    position: absolute;
    right: 0;
    bottom: 0;
    list-style-type: none;
    display: inline-block;
}
.top .top1 .top1-1{
    width: 80px;
    height: 24px;
    float:left;
    text-align: center;
    margin-left: 30px;
}
.top .top1 .box1{
    width: 38px;
    height: 32px;
    background: #fff;
    position: absolute;
    top: 0px;
    left: 50px;
    background:url(../images/n1_hover.png);
}
.top .top1 .top1-1 a{
    display: block;
    width:80px;
    height: 24px; 
    padding-top: 30px;
    text-decoration: none;
    color: #fff;    
} 
.top .top1 .box2{
    width: 38px;
    height: 32px;
    background: #fff;
    position: absolute;
    top: 0px;
    left: 160px;
    background:url(../images/n2_hover.png);
}
.top .top1 .box3{
    width: 38px;
    height: 32px;
    background: #fff;
    position: absolute;
    top: 0px;
    left: 270px;
    background:url(../images/n3_hover.png);
}
.top .top1 .box4{
    width: 38px;
    height: 32px;
    background: #fff;
    position: absolute;
    top: 0px;
    left:380px;
    background:url(../images/n4_hover.png);
}
.top .top1 .box5{
    width: 38px;
    height: 32px;
    background: #fff;
    position: absolute;
    top: 0px;
    left: 490px;
    background:url(../images/n5_hover.png);
}
.top .top1 .box6{
    width: 38px;
    height: 32px;
    background: #fff;
    position: absolute;
    top: 0px;
    left: 600px;
    background:url(../images/n6_hover.png);
}
.top .top1 .box7{
    width: 38px;
    height: 32px;
    background: #fff;
    position: absolute;
    top: 0px;
    left: 710px;
    background:url(../images/n7_hover.png);
}
.top .top1 a:hover{
    /* background: #4c90de; */
    background: url(../images/libj.png) no-repeat;
}
.top .top1 a:hover .box1{
    background:url(../images/n1.png) no-repeat;
}
.top .top1 a:hover .box2{
    background:url(../images/n2.png) no-repeat;
}
.top .top1 a:hover .box3{
    background:url(../images/n3.png) no-repeat;
}
.top .top1 a:hover .box4{
    background:url(../images/n4.png) no-repeat;
}
.top .top1 a:hover .box5{
    background:url(../images/n5.png) no-repeat;
}
.top .top1 a:hover .box6{
    background:url(../images/n6.png) no-repeat;
}
.top .top1 a:hover .box7{
    background:url(../images/n7.png) no-repeat;
}
.bottom{
    height: calc(100% - 88px);
    position: relative;
}
.left{
    float: left;
    width: 197px;
    height: 100%;
    background: #417ec8;
    border-right: 2px solid #0f5bb8;
}
.bottom .left .left0{
    width: 196px;
    height: 30px;
    background:url(../images/e_01.jpg) no-repeat center center;
}
.bottom .left0-1{
    width: 197px;
    position: absolute;
    left: 25px;
    top: 40px;
    list-style: none;
}
.bottom .left0-1 .left0-2{
    width: 150px;
    margin-left: 20px;
}
.bottom .left0-1 .left0-2 .a1 .p3{
    font-size: 18px;
    line-height: 42px;
    padding-left: 20px;
    background: url(../images/left_01.jpg) no-repeat 0% 50%;
}
.bottom .left0-1 .left0-2 .a1:hover .p3{
    background: url(../images/left_01.png) no-repeat 0% 50%;
}
.bottom .left0-1 .left0-2 .a1{
    display: block;
    width: 146px;
    height: 35px;
    border-top: 1px solid #0f5bb8;
    border-bottom: 1px solid #0f5bb8;
    padding-left: 50px;
    margin-left: -46px;
    text-decoration: none;
}
.bottom .left0-1 .left0-2 .a1:hover{
    background: url(../images/left_hover.jpg) no-repeat;
}
.bottom .left0-1 .left0-2 .list1{
    width: 198px;
    height: 122px;
    list-style: none;
    display: none;
}
.bottom .left0-1 .left0-2 .list1 .list1-1{
    width: 196px;
    height: 22px;
    margin-top: 10px;
}
.bottom .left0-1 .left0-2 .list1 .list1-1 .a1-1{
    text-decoration: none;
    display: block;
    width: 196px;
    height: 22px;
    margin-left: -45px;
    background: url(../images/jiao.png) no-repeat 10% center;
}
.bottom .left0-1 .left0-2 .list1 .list1-1 .a1-1 span{
    margin-left: 50px;
}
.bottom .left0-1 .left0-2:hover .list1{
    display: inline-block;
}
.bottom .left0-1 .left0-3{
    width: 150px;
    margin-left: 20px;
}
.bottom .left0-1 .left0-3 .a2 .p4{
    font-size: 18px;
    line-height: 42px;
    padding-left: 20px;
    background: url(../images/left_02.jpg) no-repeat 0% 50%;
}
.bottom .left0-1 .left0-3 .a2{
    display: block;
    width: 146px;
    height: 35px;
    border-top: 1px solid #0f5bb8;
    border-bottom: 1px solid #0f5bb8;
    padding-left: 50px;
    margin-left: -46px;
    text-decoration: none;
}
.bottom .left0-1 .left0-3 .a2:hover{
    background: url(../images/left_hover.jpg) no-repeat;
}
.bottom .left0-1 .left0-3 .list2{
    width: 198px;
    height: 122px;
    list-style: none;
    display: none;
}
.bottom .left0-1 .left0-3 .list2 .list2-1{
    width: 196px;
    height: 22px;
    margin-top: 10px;
}
.bottom .left0-1 .left0-3 .list2 .list2-1 .a2-1{
    text-decoration: none;
    display: block;
    width: 196px;
    height: 22px;
    margin-left: -45px;
    background: url(../images/jiao.png) no-repeat 10% center;
}
.bottom .left0-1 .left0-3 .list2 .list2-1 .a2-1 span{
    margin-left: 50px;
}
.bottom .left0-1 .left0-3:hover .list2{
    display: inline-block;
}
.bottom .left0-1 .left0-4{
    width: 150px;
    margin-left: 20px;
}
.bottom .left0-1 .left0-4 .a3 .p5{
    font-size: 18px;
    line-height: 42px;
    padding-left: 20px;
    background: url(../images/left_03.jpg) no-repeat 0% 50%;
}
.bottom .left0-1 .left0-4 .a3{
    display: block;
    width: 146px;
    height: 35px;
    border-top: 1px solid #0f5bb8;
    /* border-bottom: 1px solid #0f5bb8; */
    padding-left: 50px;
    margin-left: -46px;
    text-decoration: none;
}
.bottom .left0-1 .left0-4:hover .p5{
    background: url(../images/left_03.png) no-repeat 0% 50%;
}
.bottom .left0-1 .left0-4 .a3:hover{
    background: url(../images/left_hover.jpg) no-repeat;
}
.bottom .left0-1 .left0-4 .list3{
    width: 198px;
    height: 122px;
    list-style: none;
    display: none;
}
.bottom .left0-1 .left0-4 .list3 .list3-1{
    width: 196px;
    height: 22px;
    margin-top: 10px;
}
.bottom .left0-1 .left0-4 .list3 .list3-1 .a3-1{
    text-decoration: none;
    display: block;
    width: 196px;
    height: 22px;
    margin-left: -45px;
    background: url(../images/jiao.png) no-repeat 10% center;
}
.bottom .left0-1 .left0-4 .list3 .list3-1 .a3-1 span{
    margin-left: 50px;
}
.bottom .left0-1 .left0-4:hover .list3{
    display: inline-block;
}
.right{
    float: right;
    width: calc(100% - 200px);
    height: 100%;
}
 .bottom .right .right0{
    height: 25px;
    border-bottom: 1px solid #ccc;
}
.bottom .right .right0 .p6{
    font-size: 12px;
    line-height: 25px;
    margin-left: 25px;
    margin-top: -20px;
}
.bottom .right .right1{
    height: 52px;
    background:url(../images/t.jpg) no-repeat right center;
}
.bottom .right .right1 .p7{
    font-size: 12px;
    line-height: 25px;
    margin-left: 45px;
    margin-top: -25px;
    font-weight: 600;
}
.bottom .right .right1 .shebei{
    margin-left: 95px;
    margin-top: -25px;
    font-size: 12px;
    line-height: 25px;
}
.bottom .right .right1 .shebei input{
    margin-left: 10px;
}
.bottom .right .right1 table{
    border: 1px solid #ccc;
    border-spacing: 0;
    margin-top: 14px;
    margin-left: 5px;
}
.bottom .right .right1 table .tr1 {
    background: #f7f7f7;
} 
.bottom .right .right1 table th{
    font-size: 12px;
    padding:10px 60px;
}
.bottom .right .right1 table .tr2 {
    background: #f7f7f7;
} 
.bottom .right .right1 table td{
    font-size: 12px;
    line-height: 30px;
    text-align: center;
}
/* .bottom .right .right1 table tr{
    height: 30px;
} */
.bottom .right .right1 table tr:nth-child(2n){ 
    background: #f1f1f1;
}
.bottom .right .right1 table .tr1 .tr1-1{
    /* position: relative;
    top:0;
    left: 600px; */
    margin-left: 1150px;
}
.bottom .right .right2{
    height: 45px;
    margin-top: 20px;
}
.bottom .right .right2 .p7{
    float: left;
    line-height: 45px;
}
.bottom .right .right2 .right2-1{
    height: 45px;
    float:right;
    margin-top: -20px;
}
.bottom .right .right2 .right2-1 a{
    font-size: 12px;
    line-height: 45px;
}
.bottom .right .right2 .right2-1 input{
    width: 20px;
    height: 20px;
    background:blue;
}